body {
  font-family: helvetica, verdana, arial, sans-serif;
  margin: 1rem;
}

a, a:visited {
  color: #3366dd;
}

header {
  background-color: #f0f0f0;
  margin-bottom: 1.5rem;
  padding: 0.2rem 1rem;
}
header img {
  width: 150px;
}

main {
  padding: 0 1rem;
}

footer {
  color: #fff;
  background-color: #303030;
  text-align: center;
  padding: 0.7rem;
  margin-top: 1.5rem;
}
footer a, footer a:visited {
  color: #fff;
}

h1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0.3rem;
}

.manual {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
}

form {
  margin-bottom: 1.5rem;
}

.errors, .success {
  background-color: #fcc;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.errors ul {
  margin-bottom: 0;
}

.success {
  background-color: #cfc;
}
